@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #ffffff;
}

img {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: contain;
}

.App_container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 8px;
    color: #E78F81;
}

input[type="text"] {
    padding: 15px;
    width: 90%;
    font-size: 14px;
    border: 2px solid #E78F81;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out; /* Smooth background and transform transition */
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-3px); /* Smooth "jump" effect */
}

/* Specific styles for the Generate button */
.generate_button {
    background-color: rgb(0, 180, 174);
}

.generate_button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.generate_button:hover {
    background-color: rgb(0, 126, 122);
}

/* Specific styles for the Download button */
.download_button {
    background-color: rgb(71, 194, 71);
    margin-left: 20px;
}

.download_button:hover {
    background-color: rgb(50, 138, 50);
}

.App_container h1 {
    color: rgb(0, 180, 174);
    font-size: 30px;
}

.footer a {
    text-decoration: none;
    color: blue;
}
